  .temp-sub{background-color:#FFFFFF;margin-top:15px;clear:both;display:block;float:left;width:100%;}
.temp-sub td{margin-left:0!important;}
.template_free{width:49.5%;float:left;}
.template_paid{width:49.5%;float:right;}
.template_name,.template_free,.template_paid{border:1px solid #FDD761;box-sizing:border-box;font-size:13px;margin-bottom:20px;padding:0;position:relative;}
.template_free tr{margin:0;padding:0;}
.template_free td{border-bottom:1px solid #FDD761;display:block;float:left;width:100%;}
.free_template b,.paid_template b{color:#4e5563;float:left;padding:10px;text-align:center;}
b.free-but,b.paid-but{width:120px;}
.sublocks{border-left:1px solid #FDD761;color:#7a7f7d;float:right;font-size:14px;padding:10px;text-align:center;min-width:15px;}
span.sublocks.green{background-color:#2ecc71;color:#fff;width:40px;}
span.sublocks.red{background-color:#e74c3c;color:#fff;width:40px;}
.template_paid tr{margin:0;padding:0;}
.template_paid td{border-bottom:1px solid #FDD761;display:block;float:left;width:100%;}
td.free-box,td.paid-box{background:#4599BD;border-bottom:none;cursor:pointer;}
b.free-but{width:80px!important;}
b.free-but .lprice{margin:10px 10px;font-size:38px!important;}
.blocks{float:left;padding:20px 0;}
.detail_template b i,.free_template b span,.paid_template b span{font-size:60px;color:#fff;}
span.lprice{font-size:30px!important;}
b.demo-but,b.free-but,b.paid-but{border-right:none;}
.demo-txt p,.free-txt,.paid-txt{font-size:22px;color:#fff;font-weight:bold;}
.demo-desc,.free-desc,.paid-desc{color:#fff;font-weight:normal;font-size:16px;}
.lprice{font-family:Open Sans,Arial,Helvetica,sans-serif;font-style:normal;font-weight:normal;font-size:40px;float:left;margin:18px 0;}
.template_exe{width:100%;clear:both;float:left;border:1px solid #FDD761;box-sizing:border-box;font-size:13px;margin-bottom:20px;padding:0;position:relative;}
.template_exe tr{margin:0;padding:0;}
.template_exe td{border-bottom:1px solid #FDD761;display:block;float:left;width:100%;}
.template_exe td.paid-box{padding:0;box-sizing:border-box;}
.template_exe td.paid-box a{width:50%;float:left;}
.template_exe td.paid-box .dscas4{float:right;width:50%;box-sizing:border-box;background:#0c6e98;color:#fff;padding:10px;margin:14px 0;}
@media (max-width:768px){.template_free,.template_paid{width:100%!important;float:none!important;clear:both;overflow:hidden;}.template_exe td.paid-box a{width:100%;float:left;}.template_exe td.paid-box .dscas4{width:100%;}}
@media only screen and (max-width:479px){.template_exe td.paid-box .dscas4{margin-top:0;}}
.version-box-title{margin:0;border-bottom:1px solid #FDD761;font-size:20px;font-weight:bold;background-color:#FDD761;text-align:center;color:#4599BD;font-family:Open Sans,Arial;text-transform:uppercase;letter-spacing:0.8px;padding:6px 10px;}
.tableify{position:relative;display:block;font-size:15px;border:1px solid #fdd761;border-radius:0;margin-bottom:10px;}
.tab-line{display:flex;background-color:rgba(155,155,155,0.01);font-size:15px;border-top:1px solid #fdd761;}
.tab-line:nth-child(2n){background-color:rgba(155,155,155,0.03);}
.tab-line.tab-line-first{border:0;background:#fdd761;}
.tab-line .line-name{width:100%;display:flex;flex-wrap:wrap;padding:6px 10px;font:14px 'trebuchet MS','lucida sans';color:#101010;}
.line-icon{min-width:100px;text-align:center;border-left:1px solid #fdd761;padding:6px 0;}
.tab-line-first .line-name{padding:12px 10px;border-color:#ffc100;font-size:16px;color:#4599BD;font-weight:700;font-family:Open Sans,Arial;text-transform:uppercase;letter-spacing:0.8px;box-sizing:border-box;text-align:center;}
.tab-line-first .line-icon{padding:10px 0;font-size:16px;color:#4599BD;font-weight:700;font-family:Open Sans,Arial;text-transform:uppercase;letter-spacing:0.8px;border-color:#f9bc00;text-align:center;}
.tab-line-first .line-icon.no-1:after{content:'Free';}
.tab-line-first .line-icon.yes-1:after{content:'Premium';}
.line-icon:before{font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;font-size:12px;font-weight:700;vertical-align:middle;display:inline-block;}
.line-icon.no:before{content:'\f00d';font-size:14px;color:red;}
.line-icon.yes:before{content:'\f00c';color:green;}
.tableify em{color:red;}
.tableify em:before{content:'-';float:left;margin:0 8px;font-weight:900;}
.tableify em a{color:blue;font-weight:700;font-style:normal;}
.tableify em a:hover{color:red;}
@media screen and (max-width:520px){.tab-line-first .line-icon{font-size:15px;}.line-icon{min-width:80px;}}
.changelog-box{background-color:#f5f5f5;background-image:linear-gradient(#f5f5f5 50%,#e6e6e6 50%);background-size:40px 40px;font-family:Monospace;font-size:11px;line-height:20px!important;white-space:pre-wrap;margin:10px 0 20px;padding:0 5px;border:1px solid #FDD761;border-radius:0;width:100%;}
.changelog-box-title{background-color:#FDD761;text-align:center;height:25px;padding:10px 15px;color:#4599BD;font-size:16px;font-weight:700;font-family:Open Sans,Arial;text-transform:uppercase;letter-spacing:0.8px;line-height:25px;font-weight:700;}
.changelog-box b{color:#29313a;font-weight:700;}
